<%- include('./templates/header.ejs')  %>
<body>
    <%- include('./templates/navbar.ejs')  %>
        <main id="read_key" class="add_img">
            <div id="add">
                <h1>Añadir producto</h1>
                <p>Nombre:</p>
                <input type="text" name="nombre" autofocus>
                <p>Precio:</p>
                <input type="number" name="precio">
                <p>Categoria:</p>
                <select name="categoria" id="add_optins">
                </select>
                <p>Descripcion:</p>
                <textarea name="descripcion" cols="30" rows="10"></textarea>
                <p>Cantidad:</p>
                <input type="number" name="stock">
                <p>URL imagen:</p>
                <input type="url" name="dir" placeholder="Solo google" onchange="imprimir_imagen()">
                <button type="button" onclick="check()">Enviar</button>
            </div>
            <div id="img_add">
                <img id=img_placeholder src="" alt="No found">
            </div>
        </main>
    <%- include('./templates/footer.ejs') %> 
    <script src="main.js"></script>
    <script src="admin.js"></script>
</body>