<%- include('./templates/header.ejs')  %>
<body>
    <%- include('./templates/navbar.ejs')  %>
        <main>
            <h1>Añadir producto</h1>
            <div id="add">
                <p>Nombre:</p>
                <input type="text" name="nombre" autofocus>
                <p>Precio:</p>
                <input type="number" name="precio">
                <p>Categoria:</p>
                <select name="categoria">
                    <option value="Animales">Animales</option>
                    <option value="Decoracion">Decoracion</option>
                    <option value="Figuras">Figuras</option>
                    <option value="Hogar">Jugetes</option>
                    <option value="GAY">GAY</option>
                </select>
                <p>Descripcion:</p>
                <textarea name="descripcion" cols="30" rows="10"></textarea>
                <p>Cantidad:</p>
                <input type="number" name="stock">
                <p>URL imagen:</p>
                <input type="url" name="url" placeholder="Solo google" onchange="buscar_imagen()">
                <p>Contraseña:</p>
                <input type="password" name="contraseña">
            </div>
            <button type="button" onclick="check()">Enviar</button>
        </main>
        <div style="height: 200px; width: 400px;">
            <img id="placeholder" src="" style="height: 200px; width: 400px;" alt="No found">
        </div>
    <%- include('./templates/footer.ejs') %> 
    <script src="main.js"></script>
</body>