<%- include('./templates/header.ejs')  %>
<body>
    <%- include('./templates/navbar.ejs')  %>
    <main>
        <section class="principal" id="busqueda">
            <h1 id="categoria"><%= categoria %></h1>
            <div class="grid_card">
                
            </div>
        </section>
    </main>
    <%- include('./templates/footer.ejs') %> 
    <script src="main.js"></script>
</body>