<%- include('./templates/header.ejs')  %>
<body>
    <%- include('./templates/navbar.ejs')  %>
    <main>
        <section class="principal">
            <div>
                <h1>Carrito de compras</h1>
                <table id="carrito_productos">
                    <tr>
                        <th>Nombre</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th>Accion</th>
                    </tr>
                </table>
            </div>
        </section>
    </main>
    <%- include('./templates/footer.ejs') %> 
    <script src="main.js"></script>
</body>