<%- include('./templates/header.ejs')  %>
<body>
    <%- include('./templates/navbar.ejs')  %>
    <main>
        <section class="principal">
            <p>toca hacer el carrito</p>
        </section>
    </main>
    <%- include('./templates/footer.ejs') %> 
</body>