<%- include('./templates/header.ejs')  %>
<body onload="imprimir_tabla()">
    <%- include('./templates/navbar.ejs')  %>
        <main class="principal">
            <h1>Listado de productos:</h1>
            <section>
                <table id="tabla">
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Categoria</th>
                        <th>Descripcion</th>
                        <th>Stock</th>
                        <th>Imagen</th>
                        <th>Accion</th>
                    </tr>
                </table>
            </section>
        </main>
    <%- include('./templates/footer.ejs') %> 
    <script src="main.js"></script>
</body>