<%- include('./templates/header.ejs')  %>
<body>
    <%- include('./templates/navbar.ejs')  %>
    <main>
        <section class="principal" id="contacto">
            <div class="mantel">
                <div id="datos_contacto">
                    <h1>¿Tienes dudas o nesecitas ayuda?</h1>
                    <h2>Carrera 15# 28-82, Zipaquira, Cundinamarca-Colombia</h2>
                    <p>Horarios de atencion</p>
                    <ul>
                        <li>lunes a viernes 10 a.m. – 12 p.m. 2 p.m. – 6 p.m.</li>
                        <li>sábados 2 p.m. – 6 p.m.</li>
                    </ul>
                    <a href="#">froger3d@gmail.com</a>
                    <a href="#">+57 319 457929</a>
                </div>
                <div id="formulario_contacto">
                    <div><h1>Contactenos</h1></div>
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="Correo electronico">
                    <input type="text" placeholder="Asunto">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
                    <button type="button">Enviar</button>
                </div>
            </div>
        </section>
    </main>
    <%- include('./templates/footer.ejs') %> 
    <script src="main.js"></script>
</body>