<%- include('./templates/header.ejs')  %>
<body>
    <%- include('./templates/navbar.ejs')  %>
    <main>
        <section class="principal">
            <div>
                <h1>Tienes dudas o nesecitas ayuda?, no dudes en contactactarnos en nuestros canales de servico al cliente</h1>
                <h2>Carrera 15# 28-82, Zipaquira, Cundinamarca-Colombia</h2>
                <p>Horarios de atencion</p>
                <p>lunes a viernes 10 a.m. – 12 p.m., 2 p.m. – 6 p.m.</p>
                <p>sábados 2 p.m. – 6 p.m.</p>
                <a href="#">froger3d@gamil.com</a>
                <ul>
                    <li>facebook</li>
                    <li>instagram</li>
                </ul>
            </div>
            <div>
                <div><h1>Contactenos</h1></div>
                <input type="text" placeholder="nombre">
                <input type="text" placeholder="correo electronico">
                <input type="text" placeholder="Asunto">
                <textarea name="" id="" cols="30" rows="10" placeholder="mensaje"></textarea>
            </div>
        </section>
    </main>
    <%- include('./templates/footer.ejs') %> 
</body>