<%- include('./templates/header.ejs')  %>
<body onload="add_card()">
    <%- include('./templates/navbar.ejs')  %>
    <main>
        <section>
            <img class="img_background" src="http://drive.google.com/uc?export=view&id=1-qDaaY1njBp_dtkjrGj64UGNj4V-DOKe" alt="">
            <div id="grid_principal">
                <div id="contenido_principal" class="principal_grid">
                    <h1>Tu tienda 3D de confianza</h1>
                    <p>La impresion 3D no habia sido tan facil y accesible</p>
                </div>
                <img class="principal_grid" src="http://drive.google.com/uc?export=view&id=1l4ecW3bjZQtSzQvi7EJG5bR5ZEymu0TB" alt="">
            </div>
        </section>
        <section class="secundario">
            <h1>Nuevos Productos</h1>
            <div class="grid_card">
                
            </div>
        </section>
        <%- include('./templates/footer.ejs') %> 
        <script src="main.js"></script>
    </main>
</body>
