<%- include('./templates/header.ejs')  %>
<body>
    <%- include('./templates/navbar.ejs')  %>
    <main>
        <h1>la tienda de froger</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias esse delectus autem quisquam possimus animi quam inventore sed, suscipit, nostrum placeat. Alias earum praesentium dolor minima sapiente laborum est vitae!</p>
    </main>
</body>
