<%- include('./templates/header.ejs')  %>
<body>
    <%- include('./templates/navbar.ejs')  %>
    <main>
        <section class="principal">
            <p>Agradecemos tu compra en breves te llegara un correo con todos los datos</p>
        </section>
    </main>
    <%- include('./templates/footer.ejs') %>
    <script src="main.js"></script> 
</body>