<%- include('./templates/header.ejs')  %>
<body>
    <%- include('./templates/navbar.ejs')  %>
    <main>
        <section class="principal" id="placeorder">
            <h1>Muchas gracias :D</h1>
            <div id="placeorder_img"><img src="http://drive.google.com/uc?export=view&id=1l4ecW3bjZQtSzQvi7EJG5bR5ZEymu0TB" alt="gracias"></div>
            <p>Agradecemos tu compra en breves te llegara un correo con todos los datos</p>
        </section>
    </main>
    <%- include('./templates/footer.ejs') %>
    <script src="main.js"></script> 
</body>