<%- include('./templates/header.ejs')  %>
<body>
    <%- include('./templates/navbar.ejs')  %>
    <main>
        <section id="seo">
            <div id="seo_img">
                <img src="http://drive.google.com/uc?export=view&id=1ZgTDtiQ7H7cTjlpufCvTCzNPgbfXEd54" alt="3d printing">
            </div>
            <div id="definicion">
                <h1>¿Qué es la impresión 3D?</h1>
                <p>La impresión 3D, también llamada manufactura por adición (inglés), es un conjunto de procesos que producen objetos a través de la adición de material en capas que corresponden a las sucesivas secciones transversales de un modelo 3D. Los plásticos y las aleaciones de metal son los materiales más usados para impresión 3D, pero se puede utilizar casi cualquier cosa, desde hormigón hasta tejido vivo.</p>
                <p>Referencia:</p>
                <a href="https://latinoamerica.autodesk.com/solutions/3d-printing">Autodesk</a>
            </div>
        </section>
        <section id="servicios">
            <div>
                <h1>Podemos imprimir cualquier tipo de pieza.</h1>
                <h3>Sube el archivo o foto, recibe el presupuesto y nos encargamos de imprimir y enviártelas.</h3>
                <p>Con acabados de alta calidad con los que puedes imprimir tus piezas online. Elige el que mejor se adapte a tus necesidades. Del resto de la impresión nos ocupamos nosotros.</p>
                <p>Revisamos cada archivo para asesorarte y, si hace falta, mejorarlo para obtener el mejor resultado.</p>
                <div id="boton_contacto">
                    <a href="/contacto"><button type="button">Contactanos</button></a>
                </div>
            </div>
            <div>
                <img src="http://drive.google.com/uc?export=view&id=1pa83uqgtCkwJDVXeLBfPFJAvUyrpoVKb" alt="foto">
            </div>
        </section>
    </main>
    <%- include('./templates/footer.ejs') %> 
</body>