<footer>
    <p>© 2022, 3D Froger, Inc. Todos los derechos reservados.</p>
    <ul>
        <li>
            <a href="">
                <svg width="35px" height="35px" version="1.1" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg">
                    <g>
                     <path d="m536.67 0h-373.34c-24.754 0-48.492 9.832-65.996 27.336-17.504 17.504-27.336 41.242-27.336 65.996v373.34c0 24.754 9.832 48.492 27.336 65.996 17.504 17.504 41.242 27.336 65.996 27.336h373.34c24.754 0 48.492-9.832 65.996-27.336 17.504-17.504 27.336-41.242 27.336-65.996v-373.34c0-24.754-9.832-48.492-27.336-65.996-17.504-17.504-41.242-27.336-65.996-27.336zm46.668 466.67h-0.003907c0 12.375-4.9141 24.246-13.668 32.996-8.75 8.7539-20.621 13.668-32.996 13.668h-373.34c-12.375 0-24.246-4.9141-32.996-13.668-8.7539-8.75-13.668-20.621-13.668-32.996v-373.34c0-12.375 4.9141-24.246 13.668-32.996 8.75-8.7539 20.621-13.668 32.996-13.668h373.34c12.375 0 24.246 4.9141 32.996 13.668 8.7539 8.75 13.668 20.621 13.668 32.996z"/>
                     <path d="m350 140c-37.129 0-72.738 14.75-98.996 41.004-26.254 26.258-41.004 61.867-41.004 98.996s14.75 72.738 41.004 98.996c26.258 26.254 61.867 41.004 98.996 41.004s72.738-14.75 98.996-41.004c26.254-26.258 41.004-61.867 41.004-98.996s-14.75-72.738-41.004-98.996c-26.258-26.254-61.867-41.004-98.996-41.004zm0 233.33c-24.754 0-48.492-9.832-65.996-27.336s-27.336-41.242-27.336-65.996 9.832-48.492 27.336-65.996 41.242-27.336 65.996-27.336 48.492 9.832 65.996 27.336 27.336 41.242 27.336 65.996-9.832 48.492-27.336 65.996-41.242 27.336-65.996 27.336z"/>
                     <path d="m536.67 128.33c0 19.332-15.672 35-35 35-19.332 0-35-15.668-35-35 0-19.328 15.668-35 35-35 19.328 0 35 15.672 35 35"/>
                    </g>
                </svg>
            </a>
        </li>
        <li>
            <a href="">
                <svg width="35px" height="35px" version="1.1" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g>
                     <path d="m602.56 235.76c-17.359-22.961-48.719-27.441-70.559-28.559-26.32-1.6797-50.398-0.55859-78.398 1.6797-1.1211-3.3594-2.2383-10.641-1.1211-25.762 3.9219-44.801 8.9609-77.84 12.879-104.16l0.55859-2.2383c4.4805-28.559-11.199-52.641-38.078-59.922-25.199-6.7188-58.238 2.2383-70.559 31.922-1.6797 3.9219-3.3594 8.9609-5.6016 15.121-15.68 41.441-50.961 136.08-108.08 170.24v-5.0391c0-7.2812-5.6016-12.879-12.879-12.879h-134.4c-7.2812 0-12.879 5.6016-12.879 12.879v280c0 7.2812 5.6016 12.879 12.879 12.879h134.4c7.2812 0 12.879-5.6016 12.879-12.879v-2.8008c44.801 12.32 152.32 38.641 229.04 38.641 40.32 0 90.719 0 104.72-63.281 11.199-49.84 25.762-123.76 35.281-174.72 6.7188-30.805 3.3594-54.324-10.082-71.121zm-22.398 65.52c-9.5195 50.961-24.078 123.76-35.281 173.6-7.2812 32.48-21.84 36.961-72.238 36.961-73.922 0-180.32-26.879-222.32-38.078-3.9219-1.1211-6.1602-3.9219-6.7188-7.8398v-188.72c0-3.3594 1.6797-6.7188 4.4805-7.8398 75.039-34.719 115.36-142.24 134.4-193.76 2.2383-5.6016 3.9219-10.641 5.6016-14 3.9219-8.9609 13.441-13.441 22.961-13.441 2.8008 0 5.6016 0.55859 7.8398 1.1211 7.8398 2.2383 16.238 7.8398 14 22.961l-0.55859 2.2383c-3.9219 26.879-9.5195 59.922-13.441 106.4-2.2383 26.32 1.6797 44.238 11.199 53.762 5.6016 5.6016 13.441 8.3984 21.84 7.8398 28.559-2.8008 51.52-3.9219 76.719-2.2383 24.078 1.6797 39.199 6.7188 46.48 15.68 7.8398 8.957 9.5195 24.078 5.0391 45.359z"/>
                    </g>
                </svg>
            </a>
        </li>
        <li>
            <a href="">
                <svg width="35pxt" height="35px" version="1.1" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg">
                    <g>
                     <path d="m513.33 490h-326.66c-24.754 0-48.496-9.832-65.996-27.336-17.504-17.504-27.34-41.242-27.34-65.996v-233.34c0-24.754 9.8359-48.492 27.34-65.996 17.5-17.504 41.242-27.336 65.996-27.336h326.66c24.754 0 48.496 9.832 65.996 27.336 17.504 17.504 27.34 41.242 27.34 65.996v233.34c0 24.754-9.8359 48.492-27.34 65.996-17.5 17.504-41.242 27.336-65.996 27.336zm-326.66-373.33c-12.379 0-24.246 4.9141-33 13.668-8.75 8.75-13.668 20.621-13.668 32.996v233.34c0 12.375 4.918 24.246 13.668 32.996 8.7539 8.7539 20.621 13.668 33 13.668h326.66c12.379 0 24.246-4.9141 33-13.668 8.75-8.75 13.668-20.621 13.668-32.996v-233.34c0-12.375-4.918-24.246-13.668-32.996-8.7539-8.7539-20.621-13.668-33-13.668z"/>
                     <path d="m350 320.83c-24.727 0.082031-48.477-9.6523-66.035-27.066l-160.53-160.53 33.133-33.133 160.54 160.54v-0.003907c8.7422 8.6914 20.57 13.57 32.898 13.57s24.156-4.8789 32.898-13.57l160.54-160.54 33.133 33.133-160.54 160.54h0.003906c-17.559 17.414-41.309 27.148-66.035 27.066z"/>
                    </g>
                   </svg>
            </a>
        </li>
    </ul>
</footer>