<header>
    <div id="logo">
        <a href="/"><img src="http://drive.google.com/uc?export=view&id=1bB3VQq2tBM9L_prHExuAHc6n39rChnfs" alt="3D frog logo"></a>
    </div>
    <div id="up_seccion">
        <div id="search">
            <div id="read_key">
                <svg width="30px" height="30px" fill="#ffffff" version="1.1" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg">
                    <path d="m589.93 495.07-114.62-114.62c34.996-41.363 52.652-94.656 49.273-148.73-3.3789-54.078-27.527-104.76-67.402-141.45-39.871-36.688-92.383-56.543-146.55-55.414-54.172 1.125-105.81 23.148-144.12 61.461-38.316 38.312-60.336 89.953-61.465 144.12-1.125 54.172 18.73 106.68 55.418 146.56 36.688 39.871 87.367 64.023 141.45 67.398 54.078 3.3789 107.37-14.277 148.73-49.273l114.62 114.62c4.5039 3.8594 10.656 5.1719 16.348 3.4883 5.6875-1.6797 10.137-6.1289 11.816-11.816 1.6836-5.6875 0.36719-11.84-3.4883-16.348zm-449.93-250.07c0-46.414 18.438-90.926 51.258-123.74 32.816-32.82 77.328-51.258 123.74-51.258s90.926 18.438 123.74 51.258c32.82 32.816 51.258 77.328 51.258 123.74s-18.438 90.926-51.258 123.74c-32.816 32.82-77.328 51.258-123.74 51.258s-90.926-18.438-123.74-51.258c-32.82-32.816-51.258-77.328-51.258-123.74z"/>
                </svg>
                <input type="text">
            </div>
        </div>
        <a href="/carrito">
            <div id="carrito">
                <svg version="1.1" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path d="m669.13 55.91c-18.258-3.1367-35.617 9.2969-38.684 27.598l-59.562 207.69h-361.94l-81.824-245.53c-9.0938-27.328-34.562-45.672-63.371-45.672h-27.352c-18.547 0-33.598 15.055-33.598 33.602 0 18.547 15.051 33.598 33.598 33.598l26.969-0.29297 113.57 340.79c11.691 35.055 43.098 59.113 79.453 62.094-7.3711 9.4766-11.938 21.234-11.938 34.184 0 30.934 25.066 56 56 56 30.934 0 56-25.066 56-56 0-12.656-4.3438-24.215-11.469-33.602l112.54 0.003906c-7.1016 9.3867-11.469 20.945-11.469 33.602 0 30.934 25.066 56 56 56 30.934 0 56-25.066 56-56 0-12.656-4.3438-24.215-11.469-33.602h33.867c18.547 0 33.602-15.055 33.602-33.602s-15.055-33.602-33.602-33.602h-316.51c-10.574 0-19.891-6.7422-23.25-16.754l-9.3398-28.023h343.37c34.855 0 59.27-31.516 65.879-61.422 11.336-51.273 56.133-202.38 56.133-202.38 3.0664-18.344-9.2969-35.613-27.598-38.684z"/>
                        <path d="m271.6 112c0 24.742-20.059 44.801-44.801 44.801-24.742 0-44.801-20.059-44.801-44.801s20.059-44.801 44.801-44.801c24.742 0 44.801 20.059 44.801 44.801"/>
                        <path d="m383.6 112c0 24.742-20.059 44.801-44.801 44.801-24.742 0-44.801-20.059-44.801-44.801s20.059-44.801 44.801-44.801c24.742 0 44.801 20.059 44.801 44.801"/>
                        <path d="m495.6 112c0 24.742-20.059 44.801-44.801 44.801-24.742 0-44.801-20.059-44.801-44.801s20.059-44.801 44.801-44.801c24.742 0 44.801 20.059 44.801 44.801"/>
                        <path d="m607.6 112c0 24.742-20.059 44.801-44.801 44.801-24.742 0-44.801-20.059-44.801-44.801s20.059-44.801 44.801-44.801c24.742 0 44.801 20.059 44.801 44.801"/>
                        <path d="m316.4 224c0 24.742-20.055 44.801-44.797 44.801-24.742 0-44.801-20.059-44.801-44.801s20.059-44.801 44.801-44.801c24.742 0 44.797 20.059 44.797 44.801"/>
                        <path d="m428.4 224c0 24.742-20.055 44.801-44.797 44.801-24.742 0-44.801-20.059-44.801-44.801s20.059-44.801 44.801-44.801c24.742 0 44.797 20.059 44.797 44.801"/>
                        <path d="m540.4 224c0 24.742-20.055 44.801-44.797 44.801-24.742 0-44.801-20.059-44.801-44.801s20.059-44.801 44.801-44.801c24.742 0 44.797 20.059 44.797 44.801"/>
                    </g>
                </svg>
            </div>
        </a>
    </div>
    <div id="nav_buttons">
        <ul>
            <li>Categorias ▼
                <ul id="add_categorias">
                </ul>
            </li>
            <a href="/servicios"><li>Servicios Especiales</li></a>
            <a href="/contacto"><li>Contacto</li></a>
        </ul>
    </div>
    <script src="main.js"></script>
</header>