<header>
    <div id="logo">
        <img src="/img/logo.png" alt="3D frog logo">
    </div>
    <div id="up_seccion">
        <div id="search">
            <div>
                
                <input type="text">
            </div>
        </div>
        <div id="carrito">
            <p>carrito</p>
        </div>
    </div>
    <div id="nav_buttons">
        <ul>
            <li>Tienda ▼</li>
            <li>Servicios ▼</li>
            <li>Contacto ▼</li>
        </ul>
    </div>
</header>