:root{
    --principal_color: #16792b;
    --principal_color_light: #1b8f34;
    --principal_color_dark: #0d501c;

    --search_color: #474747;
    --mantel_color: #d2e0d5;

    --border_color:#2b5f21;
    --active_color:#e64a69;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
button{
    padding: 5px;
    background-color: var(--principal_color_light);
    border: solid var(--principal_color_dark) 2px;
    border-radius: 30px;
    min-width: 30px;
}
button:hover{
    cursor: pointer;
}
button:active{
    background-color: var(--principal_color_dark);
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.principal{
    min-height: calc(100vh - 80px - 55px) ;
}
.img_background{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 65%;
    object-fit: cover;
    opacity: 0.4;
}
table, th, td{
    font-size: 1.6rem;
    border: var(--principal_color) 2px solid;
    border-collapse: collapse;
}
th, td{
    padding: 5px;
}
th{
    font-weight: bold;
}
td{
    text-align: center;
    max-width: 200px;
    max-height: 72px;
    overflow: hidden;
}
input{
    margin: 5px;
    padding: 2px;
    font-size: 1.6rem;
    border: none;
    border-bottom: var(--principal_color_light) solid 1px;
}
/*//////////////////////head////////////////////////*/
header{
    height: 80px;
    background-color: var(--principal_color);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr auto;
    font-size: 1.7rem;
}
#logo{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo img{
    width: 150px;
    object-fit: contain;
    cursor: pointer;
}
#up_seccion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
#search div{
    width: 300px;
    height: 35px;
    background-color:var(--search_color);
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
}
#search svg{
    margin: 5px;
    margin-top: 10px;
}
#search input{
    height: 35px;
    width: 100%;
    padding: 2px;
    background-color:var(--search_color);
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    color: aliceblue;
}
#carrito{
    display: flex;
    justify-content: end;
    margin: 5px;
}
#carrito svg{
    width: 35px;
    height: 35px;
}
#nav_buttons{
    grid-row: 2;
    grid-column: 1/3;
    display: flex;
    padding-left: 15px;
    background-color: var(--principal_color_light);
    border-top: var(--border_color) solid 2px;
}
#nav_buttons ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
#nav_buttons ul li{
    padding: 5px 20px;
    transition: 500ms;
}
#nav_buttons ul li:hover{
    background-color: var(--principal_color_dark);
    cursor: pointer;
}
#nav_buttons > ul > li > ul{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--principal_color);
}
#nav_buttons > ul > li:hover > ul {
    display: flex;
}
#nav_buttons ul a{
    text-decoration: none;
    color: black;
}
/*//////////////////////footer////////////////////////*/
footer{
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: var(--principal_color_light);
    height: 55px;
}
footer p{
    display: flex;
    align-items: center;
    margin: 5px;
}
footer ul{
    display: flex;
    justify-content: end;
    flex-direction: row;
    list-style: none;
}
footer li{
    margin: 5px;
    margin-top: 10px;
}
/*//////////////////////main////////////////////////*/

#grid_principal{
    width: 80%;
    height: 65vh;
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.principal_grid{
    max-width: 100%;
    max-height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contenido_principal{
    display: flex;
    flex-direction: column;
    font-size: 4rem ;
}
/*//////////////////////cadrs seccions////////////////////////*/
.secundario{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid_card{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card{
    width: 320px;
    height: 200px;
    margin: 10px;
}
.card div{
    height: 30px;
    background-color: var(--principal_color_light); 
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-size: 1.6rem;
}
.card img{ 
    width: 350px;
    height: 170px;
    object-fit: contain;
}
.card .nombre{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
}
.card .precio{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;
}
.card .precio svg{
    display: none;
}
.card .precio:hover p{
    display: none;
}
.card .precio:hover svg{
    display: flex;
}
/*//////////////////////add////////////////////////*/
#add{
    width: 350px;
    display: grid;
    font-size: 1.5rem;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 6;  
    grid-gap: 5px;
    margin: 5px;
}
/*//////////////////////show////////////////////////*/
#show{
    align-items: center;
}
#show_div{
    height: 400px;
    width: 90vw;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
}
#placeholder{
    object-fit: cover;
    border-radius: 5px;
    height: 400px;
}
#items{
    width: 100%;
    border: var(--search_color) solid 2px;
    border-radius: 5px;
    font-size: 1.6rem;
    padding: 20px;
}
#items p{
    margin: 10px 0;
}
#boton_carrito{
    margin: 5px;
    font-size: 2rem;
    width: 90%;
}
/*/////////////////////SIGN_up///////////////////////*/
#sign_up > div{
    display: flex;
    flex-direction: column;
    border: var(--principal_color_dark) solid 2px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 20px;
}
/*/////////////////////Contacto///////////////////////*/
#contacto > div{
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 5px;
    background-color: var(--mantel_color) ;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
.mantel > div{
    display: flex;
    flex-direction: column;
}
#contacto h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
#contacto h2{
    font-size: 1.7rem;
    margin-bottom: 12px;
}
#contacto p{    
    font-size: 1.6rem;
    margin-bottom: 10px;
}
#contacto a{
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--principal_color_dark);
    margin-bottom: 10px;
}
#contacto li{
    font-size: 1.6rem;
    position: relative;
    left: 20px;
    margin: 5px;
}
#contacto div textarea{
    padding: 2px;
    font-size: 1.6rem;
}
#formulario_contacto{
    border: var(--principal_color_dark) solid 2px;
    border-radius: 20px;
    padding: 20px;
    background: rgb(192, 190, 190);
}
#formulario_contacto *{
    margin: 5px;
}
#datos_contacto *{
    margin: 5px;
}
/*/////////////////////Servicios///////////////////////*/
#servicios{
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 50px;
}
#servicios div *{
    margin: 10px;
}
#servicios img{
    border-radius: 5px;
    width: 300px;
}
#boton_contacto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#boton_contacto button{
    padding: 20px;
}
#boton_contacto > a > button{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 3rem;
}
/*//////////////////////SEO////////////////////////*/
#seo{
    width: 100%;
    height: auto;
    background-color: var(--mantel_color);
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#seo_img{
    width: 100%;
    display: flex;
    justify-content: center;
}
#seo_img img{
    width: 90%;
    margin: 10px;
    border-radius: 5px;
}
#definicion{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-column: 2;
    text-align: justify;
    padding: 10px;
    font-size: 1.6rem;
}